<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistPanelServlet</servlet-name>
        <servlet-class>Controller.Servlets.ArtistPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>Controller.Servlets.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mySettingsServlet</servlet-name>
        <servlet-class>Controller.Servlets.mySettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAccount</servlet-name>
        <servlet-class>Controller.Servlets.RemoveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Controller.Servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateAlbumServlet</servlet-name>
        <servlet-class>Controller.Servlets.GenerateAlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServletStep1</servlet-name>
        <servlet-class>Controller.Servlets.ExportServletStep1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServletStep2</servlet-name>
        <servlet-class>Controller.Servlets.ExportServletStep2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArtistPanelServlet</servlet-name>
        <url-pattern>/artist/artistpanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/PasswordRecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mySettingsServlet</servlet-name>
        <url-pattern>/listener/mysettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAccount</servlet-name>
        <url-pattern>/removemyaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/artist/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateAlbumServlet</servlet-name>
        <url-pattern>/artist/GenerateAlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mySettingsServlet</servlet-name>
        <url-pattern>/artist/mysettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServletStep1</servlet-name>
        <url-pattern>/listener/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServletStep2</servlet-name>
        <url-pattern>/listener/ExportStep2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- param-value te veranderen naar path server waar muziek opgeslagen moet worden-->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>C:\Program Files\Apache Software Foundation\Apache Tomcat 7.0.41\webapps\data</param-value>
    </context-param>
</web-app>
